.header{
    font-size:20px;
    font-weight:bold;
    text-align:center;
    background-color:#6f00ed ;
    color: #fff;
    padding:1% 2%;
}
.menu li {
    text-align:center;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
}
.user li{
  text-align: center;
}
