.show_image a {
  text-align:center;
}
.menu li {
  text-align:center;
}
.user {
  text-align: center;
}
.user tr{
  height: 4rem;
}
.user th{
  text-align: right;
}
.user td{
  padding-left: 1rem;
}
footer {
  width: 100%;
  background-color:#00aced;
  padding: 20px 0 10px 0;
  color: #fff;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
}
